/* section5 : clone */
.Clone{
    width: 100%; height: 400vh;
}
 .CloneWrap>div{
    width: 100%; height: 100%;
    position: sticky;
    left: 0; top: 0;
    display: flex;
    justify-content: center;
 }
.CloneInfo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
}
.CloneSite{
    width: 45%; height: 44vw;
    background-color: var(--black-color);
    border: 1px solid var(--white-color);
    border-radius: 0.4rem;
    padding: 2rem;
}
.CloneNum{
    font-size: var(--main-tit-font2);
    color: var(--white-color);
}
.CloneImg{
    width: 100%; height: 70%;
    margin-top: -20px;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 0.4rem;
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 2%;
    padding: 2rem;
}
.CloneTit, .CloneTxt{
    font-size: 1.04vw;
    margin-top: 0.83vw;
    color: var(--white-color);
}
.CloneWrap{
    position: absolute;
    left: 50%;
    width: 100%; height: auto;
    max-width: 66.15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -33.07vw;
}

.domino{
    transform: translate(-10%,0%);
}
.socar{
    transform: translate(10%,-40%);
}
.gongju{
    transform: translate(-10%,10%);
}
.bizcar{
    transform: translate(10%,-30%);
}
.ktg{
    transform: translate(-55%, -125%);
}